:root {
  --dark-green: #001a0e;
  --dark-grey: #171a18;
  --test-green: #007700;
  --test-grey: #5a1a1a;
  --page-bg-color: linear-gradient(to right, #001a0e, #171a18);
  --banner-blur: 8px;
  --banner-url: url('/video/sample.webp');
  --banner-height: 25vh;
  --banner-aspect-query: 18/9; /* Update the related media query */
}

* {
	box-sizing: border-box;
	font-family: 'Noto Serif', 'Arial';
}

h1 {
	font-family: 'Noto Sans';
}

html {
	overflow-y: scroll;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--page-bg-color);
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  color: #f0f0f0;
}

header {
  position: relative;
  width: 100%;
  min-height: var(--banner-height);
  overflow: hidden;
  background-image: var(--banner-url);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat-x;
  mask-image: linear-gradient(to bottom, black 0%, 90%, transparent 100%);
  filter: blur(var(--banner-blur));
}

@media (min-aspect-ratio: 18/9) {
  header {
    background-size: calc(100vh*var(--banner-aspect-query));
  }
}

main {
  flex: 1;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}